<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Brotherhood Club communication</string>
					<key>answerID</key>
					<string>511d9b64-1602-4fae-9d33-c9f3ab783ae5</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Brotherhood Club member</string>
					<key>answerID</key>
					<string>35036d06-5134-4c88-978c-b35df1a88828</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Online advertising</string>
					<key>answerID</key>
					<string>b7e5bb2e-4747-4aba-ba35-0b6af3bcf5ca</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>TV advertising</string>
					<key>answerID</key>
					<string>51f7e077-bf43-45d5-9c11-e295cfee1fd3</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Magazine advertising</string>
					<key>answerID</key>
					<string>ef33a8d5-27ae-47a0-b41d-e063c5051a1b</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Other (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>c0b2d18a-36f7-49af-99c0-575ed345068c</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>greeting</key>
			<string>We’re pleased that you’ve returned for another visit and hope that you enjoy yourself. 
To help us better meet your needs, please complete the following questionnaire.</string>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>How did you first learn about the 1801 Club?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Tasting</string>
					<key>answerID</key>
					<string>58c34c71-7dad-442f-9d78-507207a1dbe9</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Party</string>
					<key>answerID</key>
					<string>274ced58-38ea-4614-a5a1-41d9d1c516cd</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Networking</string>
					<key>answerID</key>
					<string>76ab0acd-efcb-475b-adc3-54af55ba04db</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Speaker Series</string>
					<key>answerID</key>
					<string>0de511b0-5b0d-48f6-8c0a-14d631491dc3</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Other (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>be1070c6-5c7a-4a54-a503-9318961ba0b9</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>When you previously visited the 1801 Club, which of the following events were taking place?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Yes</string>
					<key>answerID</key>
					<string>d2b34b4e-251f-4c85-ba1e-da2df29ded82</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>No</string>
					<key>answerID</key>
					<string>9ec2241e-2feb-4b37-b79b-06ef01812f05</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Did you bring a guest when you visited previously?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Yes</string>
					<key>answerID</key>
					<string>f6715f2a-fd0d-4754-9cd5-67d799b85de3</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>No</string>
					<key>answerID</key>
					<string>28b3f0a8-f5bd-43fd-b938-cf8014bec945</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I don't know.</string>
					<key>answerID</key>
					<string>a13db443-9b25-4f21-8fb0-ca9714ab2c32</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>question</key>
			<string>(IF YES) Did the guest subsequently join the 1801 Club?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Staff</string>
					<key>answerID</key>
					<string>48c44dbd-7703-4376-a252-3e02323da603</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Facility</string>
					<key>answerID</key>
					<string>734ab23d-578d-4e7a-81b8-21c6b9e2cd49</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Event(s)</string>
					<key>answerID</key>
					<string>ae788423-a4bd-48e0-9acf-f50688d46408</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>On a scale from 1-5, where 1 is the lowest rating and 5 is the highest, how satisfied were you with each of the following?</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Atmosphere</string>
					<key>answerID</key>
					<string>f19700be-2076-4fa4-a2cb-fffdd23df857</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Drinks/cocktails</string>
					<key>answerID</key>
					<string>0a5868ca-a69f-445e-a332-28be5f6a4627</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Brand education</string>
					<key>answerID</key>
					<string>0a5868ca-a69f-445e-a332-28be5f6a4627</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Opportunity to socialize</string>
					<key>answerID</key>
					<string>ed21e846-913c-4801-a0e1-1e35927ded58</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>What do you enjoy most about the 1801 Club?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>420</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Spoke about the club to others</string>
					<key>answerID</key>
					<string>3f744294-a14d-4e5a-8bda-9684417c59bc</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Wrote about the club in a social media site such as Facebook or Twitter</string>
					<key>answerID</key>
					<string>bebd87e2-9433-4068-9e23-28a7a5027bad</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Used the web site share function to inform others about the club</string>
					<key>answerID</key>
					<string>b2e00c6f-c14d-4f25-88e7-12d3d686b29f</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Did something else (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>a34359c6-b3ba-4368-8ea1-bcaf69117130</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Didn't do anything</string>
					<key>answerID</key>
					<string>a34359c6-b3ba-4368-8ea1-bcaf69117130</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>2</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Which of the following, if any, did you do after your previous visit to the 1801 Club?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Yes</string>
					<key>answerID</key>
					<string>b0233aaa-21b7-4af3-a865-06bedc21f7d1</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>No</string>
					<key>answerID</key>
					<string>45981a9c-1eeb-41f2-a95d-0cc4a86faac5</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Did you bring a guest today?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>400</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>I regularly drank Chivas Regal</string>
					<key>answerID</key>
					<string>a1ea2ba1-b7b7-492e-a6df-7817b9e11554</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I regularly drank another brand of Scotch (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>9cb76708-77a2-476e-bcca-8d379e3d6d0b</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I sometimes drank Chivas Regal</string>
					<key>answerID</key>
					<string>b3b12458-b877-4b5a-b8fe-1deb488334d7</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I sometimes drank another brand of Scotch (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>e3cbe9aa-733c-4f44-a31a-0f423ce51f8a</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I regularly drank Whisky, but not Scotch</string>
					<key>answerID</key>
					<string>8b12e2f0-479e-4c19-a16c-3702fb683c62</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I sometimes drank Whisky, but not Scotch</string>
					<key>answerID</key>
					<string>e5c8e49d-ae0b-455e-b77b-2f1c0c6d892c</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>I rarely/never drank Whisky</string>
					<key>answerID</key>
					<string>45f15fed-a995-4d14-98e0-7bb410fcfbaa</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Prior to your first visit to the 1801 Club, which of the following best described you:</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>HORIZONTAL_SPREAD</key>
			<integer>300</integer>
			<key>VERTICAL_SPREAD</key>
			<integer>45</integer>
			<key>answers</key>
			<array>
				<dict>
					<key>answer</key>
					<string>Spoke about the club to others</string>
					<key>answerID</key>
					<string>9a035724-6446-4f52-a117-d9e4ce04f0e5</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Wrote about the club in a social media site such as Facebook or Twitter</string>
					<key>answerID</key>
					<string>BEBD87E2-9433-4068-9E23-28A7A5027BAD</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Used the web site share function to inform others about the club</string>
					<key>answerID</key>
					<string>B2E00C6F-C14D-4F25-88E7-12D3D686B29F</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Did something else (PLEASE SPECIFY)</string>
					<key>answerID</key>
					<string>A34359C6-B3BA-4368-8EA1-BCAF69117130</string>
					<key>childrenQuestions</key>
					<array/>
					<key>freeResponse</key>
					<true/>
				</dict>
				<dict>
					<key>answer</key>
					<string>Didn't do anything</string>
					<key>answerID</key>
					<string>7BC57772-4F8C-4CF4-9A69-AA6B29467074</string>
					<key>childrenQuestions</key>
					<array/>
				</dict>
			</array>
			<key>columns</key>
			<integer>1</integer>
			<key>dependent</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>1</integer>
			<key>question</key>
			<string>Which of the following, if any, did you do after your previous visit to the 1801 Club?</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
